[user]
	name = adamanteye
	email = ada@adamanteye.cc
	signingKey = FC012E34C8FFF4AB
[commit]
	gpgsign = true
	template = ~/.git-template/commit-msg
	verbose = true
[tag]
	gpgSign = true
	sort = version:refname
[alias]
	ss = status
	st = stash
	kmt = commit
	chk = checkout
	br = branch
	ps = push
	pl = pull
	df = diff
	cl = clone
	undo = reset --soft HEAD~1
[rebase]
	autoSquash = true
	updateRefs = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[init]
	defaultBranch = master
	templateDir = ~/.git-template/repo-template/
[core]
	quotepath = false
	pager = bat --style=plain
[http]
	proxy = http://[::1]:10801
[https]
	proxy = http://[::1]:10801
[color]
	ui = true
	pager = false
[pull]
	rebase = true
[diff]
	algorithm = histogram
[column]
	ui = auto
[branch]
	sort = -committerdate
