[user]
	name = Xuelin Yang
	email = adamanteye@disroot.org
	signingKey = 0FE55C447E7DC406
[commit]
	gpgsign = true
	template = ~/.git-template/commit-msg
	verbose = true
[tag]
	gpgSign = true
	sort = version:refname
[alias]
	ss = status
	st = stash
	kmt = commit
	chk = checkout
	br = branch -vv --all
	ps = push
	pl = pull
	df = diff
	cl = clone
	fp = format-patch
	cp = cherry-pick
[rebase]
	autoSquash = true
	updateRefs = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[init]
	defaultBranch = master
	templateDir = ~/.git-template/repo-template/
[core]
	quotepath = false
	eol = lf
[color]
	ui = true
	pager = false
[pull]
	rebase = true
[diff]
	algorithm = histogram
[column]
	ui = auto
[branch]
	sort = -committerdate
[format]
	signOff = true
