[Unit]
Description=Xray Service
After=network.target nss-lookup.target

[Service]
ExecStart=/usr/local/bin/xray run -c %h/.config/xray/config.json
Restart=on-abort

[Install]
WantedBy=default.target
