@import "./mocha.css";

* {
  font-family: LXGW WenKai Mono;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  color: @text;
  border-radius: 8px;
  transition-property: border-color, opacity;
  transition-duration: 0.5s;
  margin: 10px 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  color: @text;
  background-color: transparent;
  border: 1px solid alpha(@subtext0, 0.9);
  border-radius: 8px;
  padding: 0px 10px;
  margin: 7px 5px 10px 5px;
}

#workspaces button:hover {
  border-color: @subtext1;
  color: @text;
}

#workspaces button.active {
  color: @text;
  border: 2px solid @overlay1;
}

#clock,
#battery,
#cpu,
#tray,
#temperature,
#backlight,
#network,
#pulseaudio,
#disk {
  padding: 0px 14px;
  margin: 7px 0px 10px 0px;
  border: 1px solid alpha(@subtext0, 0.9);
  border-radius: 8px;
  color: @text;
  background-color: transparent;
}

#window,
#tray {
  padding: 0px 25px 0px 20px;
  margin: 7px 0px 10px 0px;
  border: 1px solid alpha(@mauve, 0.9);
}

#cpu {
  border-color: alpha(@lavender, 0.9);
}

#temperature {
  border-color: alpha(@blue, 0.9);
}

#backlight {
  border-color: alpha(@sapphire, 0.9);
}

#pulseaudio {
  padding: 0px 20px 0px 17px;
  border-color: alpha(@teal, 0.9);
}

#disk {
  border-color: alpha(@green, 0.9);
}

#network {
  padding: 0px 15px 0px 20px;
  border-color: alpha(@green, 0.9);
}

#battery {
  border-color: alpha(@yellow, 0.9);
}

#clock {
  border-color: alpha(@peach, 0.9);
}

@keyframes blink {
  to {
    border-color: alpha(@red, 0.9);
    color: @red;
  }
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border: 2px solid alpha(@red, 0.9);
}

label:focus {
  border: 1px solid alpha(@subtext1, 0.9);
  background-color: transparent;
}
