set browser_sort=unsorted
set browser_sort_dirs_first=no

set from="Xuelin Yang <xuelin@adamanteye.cc>"
set virtual_spool_file=yes
set spoolfile=~/m/ada/inbox
set postponed=~/m/ada/draft
set record=~/m/ada/inbox
set trash=~/m/ada/trash
set pgp_default_key="744233565E837DD4B918D9EF53D64EB719901BD8"

set nm_default_url = "notmuch:///home/xuelin/m/ada"
named-mailboxes "tjjk" "notmuch://?query=tag:kaiser and not tag:deleted"
named-mailboxes "list" "notmuch://?query=tag:kaiserin and not tag:deleted"
named-mailboxes "github" "notmuch://?query=tag:github and not tag:deleted"
named-mailboxes "tuna" "notmuch://?query=tag:tuna and not tag:deleted"
named-mailboxes "learn" "notmuch://?query=tag:learn and not tag:deleted"
named-mailboxes "personal" "notmuch://?query=tag:inbox and not tag:kaiser and not tag:kaiserin and not tag:github and not tag:learn and not tag:tuna and not tag:deleted"
named-mailboxes "sent" "notmuch://?query=tag:sent and not tag:deleted"
named-mailboxes "unread" "notmuch://?query=tag:unread and tag:inbox and not tag:deleted"
named-mailboxes "inbox" "notmuch://?query=tag:inbox and not tag:deleted"
named-mailboxes "trash" "notmuch://?query=tag:deleted"

macro index,pager d "<modify-labels-then-hide>-inbox -unread +deleted\n<sync-mailbox>" "notmuch delete"
macro index,pager U "<modify-labels>!deleted\n<sync-mailbox>" "undelete"
